<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <listeners>
          <listener class-name="Utilities.ExtentReportManager"/>
  </listeners>
  
  <test thread-count="5" name="Testng">
  
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="Chrome"/>
     
       
      <classes>
      <!-- <class name="TestCases.TC_ST_002_VerifyWorkingofScheduleaTourfunctionality"/> -->
        <class name="TestCases.TS_013_VerifyworkingofTimerSlidingFormfunctionality"/>
      </classes>
      
  </test> <!-- Testng -->

</suite> <!-- Suite -->
